# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment
.env/
.venv/
env/
venv/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tests / coverage
.coverage
.pytest_cache/

# Notebook outputs
*.nbconvert.ipynb
